<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Cazadores de Rayos Gamma</title>
    <meta name="description" content="{% block description %}Cazadores de Rayos Gamma{% endblock %}">
    <!-- To ensure proper rendering and touch zooming, add the viewport meta tag to your <head>. -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="Shortcut Icon" href='{{ "img/favicon.png" | absURL}}' type="image/x-icon">

    <link rel="stylesheet" type="text/css" href='{{ "css/main.bundle.css"  | absURL  }}' />
    {{ block "scripts" . }}
    {{ end }}

  </head>
  <body>

    {{ block "navbar" . }}
    {{ end }}

    <div id="splitlayout" class="splitlayout reset-layout">
      <div class="content">
        <div class="side side-left">
          {{ block "left" . }}
          {{ end }}
        </div>

        <div class="side side-right">
          {{ block "right" . }}
          {{ end }}
        </div>

        <div class="page page-left">
        {{ block "ultraleft" . }}
        {{ end }}
        </div>

        <div class="page page-right">
          {{ block "ultraright" . }}
          {{ end }}
        </div>
      </div>
    </div>

    {{ block "footer" . }}
    {{ end }}

    {{ block "extrascripts" . }}
    {{ end }}

  </body>
</html>
