{{ define "title"}}{{ .Params.title }} | {{ .Site.Title}} {{end}}

{{ define "navbar"}}
  {{ partial "navbar" .}}
{{ end }}

{{ define "left"}}
<div class="night">
  {{ .Content }}
</div>
{{ end }}

{{ define "right" }}
<div class="{{ .Params.right }}">
  {{ partial "right" .}}
</div>
{{ end }}

{{ define "ultraleft"}}
    {{ partial "glossary" .}}
{{ end }}

{{ define "scripts"}}
    {{ partial "javascripts" }}
{{ end }}

{{ define "extrascripts"}}
    {{ if ne .Params.right "notebook" }}current
    <script>$(".side-right").css('background-image', 'url(right_bg.jpg)');</script>
    {{ end }}
{{ end }}
