.central {
  margin: 0;
  background: $themeColor-White;
  padding-bottom: 50px;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: scroll;
  .header {
    width: 100%;
    padding: 2%;
  }
  .step {
    min-height: 250px;
    height: auto;
    color: $themeColor-White;
    background-image: url("../img/texture.png");
    &.green {
      background-color: $themeColor-Green;
    }
    &.blue {
      background-color: $themeColor-Blue;
    }
    &.red {
      background-color: $themeColor-Red;
    }
    &.yellow {
      background-color: $themeColor-Yellow;
    }
    h1 {
      color: $themeColor-Black;
      font-family: "American Captain", sans-serif;
      font-size: 60px;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: 2px;
    }
    h2 {
      font-size: 25px;
      letter-spacing: 0px;
      font-weight: 400;
    }
    h3 {
      font-size: 15px;
      letter-spacing: 0px;
      font-weight: 300;
      position: absolute;
      top: 50;
      left: 500;
      width: 100%;
    }
    img {
      padding-top:20%;
    }
    img:hover {
      opacity: 0.8;
      filter: alpha(opacity=80);
    }
  }
  .tooltip-inner {
    padding: 10%;
    font-size: 15px;
    max-width: 1000px;
    width: 400px;
  }
}

.step_i h1 {
  font-family: "American Captain", sans-serif;
  font-size: 80px;
  font-style: normal;
  line-height: 1;
  letter-spacing: 2px;
  margin-top: 30px;
  text-align: left;
}

.step_i h2 {
  color: #ffffff;
  font-size: 37px;
  letter-spacing: 0px;
  font-weight: 400;
  text-align: left;
  padding-top: 0px;
  margin-bottom: 30px;
}

.step_i h3 {
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0px;
  font-weight: 300;
  position: absolute;
  top: 50;
  left: 500;
  width: 100%;
}
