.side-right {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: scroll;
  color: #000;
  right: 0;
  text-align: left;
  .quote-overlay {
    background-color: $themeColor-Overlay;
    background-image: url("../img/texture.png");
    position: absolute;
    bottom: 20%;
    p {
      font-size: 18px;
      font-weight: 300;
      color: $themeColor-White;
      text-align: left;
      letter-spacing: 1.1px;
      line-height: 110%;
      padding: 4%;
    }
    img {
      padding-top:6%;
    }
  }
  .credit-overlay {
    position: absolute;
    bottom: 10%;
    left: 70%;
    p {
      font-size: 8px;
      font-style: italic;
      font-weight: 100;
      color: $themeColor-White;
      text-align: right;
      letter-spacing: 1.5px;
    }
  }
  .notebook {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 70px;
    font-family: 'Roboto Slab', serif;

    p, li {
      font-size: 13px;
      font-weight:300;
      line-height: 130%;
    }
    h1  {
      font-size: 25px;
      font-weight:700;

    }
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
  #notebookButton {
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 99;
    font-size: 28px;
    border-width: 0px;
    background-color: $themeColor-Red;
  }
}
