$themeColor-Green: #84a58b;
$themeColor-Red:#e68573;
$themeColor-Rose:#ca8a92;
$themeColor-Yellow:#cfb064;
$themeColor-Blue:#78a2ab;
$themeColor-Grey:#b4bdbb;
$themeColor-White:#ffffff;
$themeColor-Black:#000;
$themeColor-Beige:#e8d1af;
