.detail-info {
  position: relative;
  z-index: 2;
  padding-top: 5%;
  text-align: left;
}

.page-left .page-inner .small-hr {
  margin-top: 9px;
  margin-bottom: 23px;
}

.page-left {
  overflow-x: hidden;
  overflow-y: scroll;
  .keyword {
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -1px;
    padding-top: 5%;
  }
  .tagline {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    a {
      text-decoration: underline;
    }
    ul {
      padding-top: 2%;
    }
    a {
      color: #000000;
      font-size: 12px;
      font-weight: 300;
    }
    .fa {
      padding-top: 1.5%;
      font-size: 0.7em;
    }
    img {
      padding-top: 5%;
    }
  }

}
