.page-left .page-inner {}

.page-left .page-inner .small-hr {
  margin-top: 9px;
  margin-bottom: 23px;
}

.page-left .page-inner .trans-overlay-dark-about {
  background: #fff;
  /* The Fallback */
  background: #ffffff;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

p.keyword {
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -1px;
  padding-top: 5%;
}

p.keyword.green {
  color: #84a58b;
  /*green*/
}

p.keyword.rose {
  color: #b88085;
  /*rose*/
}

p.keyword.yellow {
  color: #cfb064;
  /*yellow*/
}

p.keyword.grey {
  color: #b4bdbb;
  /*grey*/
}

p.keyword.blue {
  color: #78a2ab;
  /*blue*/
}

p.keyword.beige {
  color: #e8d1af;
  /*beige*/
}

p.keyword.red {
  color: #e68573;
  /*red*/
}

p.tagline {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}

.tagline a {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-decoration: underline;
}

.detail-info {
  position: relative;
  z-index: 2;
  padding-top: 5%;
  text-align: left;
}

.page-left ul {
  padding-top: 2%;
}

.page-left a {
  color: #000000;
  font-size: 12px;
  font-weight: 300;
}

.page-left .fa {
  padding-top: 1.5%;
  font-size: 0.7em;
}

.page-left img {
  padding-top: 5%;
}
