@charset "UTF-8";
@import url(component2.css);
@import url(font-awesome.min.css);
@import url(bootstrap.min.css);
@font-face {
  font-family: "American Captain";
  src: url("../fonts/AmericanCaptain/a6bec1c4ef2d2fd1bac5a6951f5f32a3.eot");
  /* IE9*/
  src: url("../fonts/AmericanCaptain/a6bec1c4ef2d2fd1bac5a6951f5f32a3.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/AmericanCaptain/a6bec1c4ef2d2fd1bac5a6951f5f32a3.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/AmericanCaptain/a6bec1c4ef2d2fd1bac5a6951f5f32a3.woff") format("woff"), /* chrome、firefox */
  url("../fonts/AmericanCaptain/a6bec1c4ef2d2fd1bac5a6951f5f32a3.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/AmericanCaptain/a6bec1c4ef2d2fd1bac5a6951f5f32a3.svg#American Captain") format("svg");
  /* iOS 4.1- */
}

/****************************/

/** Main **/

/****************************/

body {
  color: #000000;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 1.5;
}

strong {
  font-weight: bold;
}

a:hover, a:active {
  outline: 0;
}

button:focus {
  border: none;
  outline: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  outline: none;
}

p, a {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  line-height: 15px;
  text-align: left;
}

.content {
  overflow: hidden;
}

.align-center {
  clear: both;
  float: none;
  margin: 0 auto;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #b4bdbb;
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.bg-img, .page-left .page-inner, .page-right .page-inner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/****************************/

/** Menu **/

/****************************/

.main-menu .call-to-action {
  position: relative;
}

.opacity-hide {
  opacity: 0;
  visibility: hidden;
}

.opacity-inv {
  visibility: hidden;
}

.nav-btn, .contact, .glossary1, .GoHome, .NextPage, .PrevPage, .logout, .location {
  position: absolute;
  top: 0;
  z-index: 11;
  cursor: pointer;
}

.button_left {
  position: absolute;
}

.fa {
  color: #000;
  padding-top: 1%;
  -webkit-appearance: none;
  -webkit-backface-visibility: hidden;
}

.call-to-action {
  display: block;
  height: 50px;
  width: 50px;
}

.call-to-action i {
  left: 0;
  right: 0;
  position: absolute;
  top: 50%;
  text-align: center;
  margin: 0 auto;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}

.call-to-action span {
  background: #000;
  position: absolute;
  display: block;
}

.call-to-action .top {
  height: 2px;
  left: 0;
  top: 0;
  width: 100%;
}

.call-to-action .bottom {
  height: 2px;
  bottom: 0;
  right: 0;
  width: 100%;
}

.call-to-action .left {
  height: 100%;
  left: 0;
  width: 2px;
  bottom: 0;
}

.call-to-action .right {
  width: 2px;
  right: 0;
  height: 100%;
  top: 0;
}

.button_left {
  position: absolute;
}

.glossary1 {
  background-color: #84a58b;
  /*green*/
  left: 0px;
}

.glossary1:hover>i {
  color: #ffffff;
}

.GoHome {
  background-image: url('../img/isotip_blue.png');
  background-size: 50px;
  top: 2px;
  padding-top: 0.2%;
  left: 48%;
  background-repeat: no-repeat;
}

.GoHome p {
  position: relative;
  font-family: "American Captain", sans-serif;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 2px;
  color: black;
  padding-top: 30%;
  padding-left: 17%;
}

.GoHome p:hover {
  font-size: 0px;
}

.GoHome p:hover:before {
  font-size: 16px;
  content: attr(data-hover);
}

.NextPage {
  position: absolute;
  background-color: #cfb064;
  /*yellow*/
  left: 270px;
}

.NextPage:hover .fa {
  color: #ffffff;
}

.location {
  top: 8px;
  left: 200px;
  font-weight: 300;
  font-size: 8px;
  line-height: 18px;
}

.PrevPage {
  position: absolute;
  background-color: #e68573;
  /*red*/
  left: 130px;
}

.PrevPage:hover .fa {
  color: #ffffff;
}

.ifae_nav {
  position: absolute;
  z-index: 11;
  top: 10px;
  /*left: 650px;*/
  left: 55%;
}

.fecyt_nav {
  position: absolute;
  z-index: 11;
  top: 10px;
  /*left: 780px;*/
  left: 65%;
}

.logout {
  position: absolute;
  z-index: 11;
  top: 15px;
  left: 100%;
}

.logout a {
  position: relative;
  font-family: "American Captain", sans-serif;
  font-size: 12px;
  font-style: normal;
  letter-spacing: 2px;
  color: black;
}

.logout a:hover {
  font-size: 0;
}

.logout a:hover:before {
  font-size: 12px;
  content: attr(data-hover);
}

.open-left .glossary1 {
  /*left: 10px;*/
}

.contact {
  background-color: #e8d1af;
  /*beige*/
  right: 29px;
}

.contact:hover>i {
  color: #ffffff;
}

/****************************/

/** Left **/

/****************************/

.side-left {
  background: #ffffff;
  padding-top: 1%;
  padding-bottom: 70px;
  line-height: 280%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 17px;
  margin-bottom: 25px;
}

.side-left p, .side-left a {
  color: #000;
  line-height: 22px;
}

.side-left .night_title h1 {
  color: #000;
  font-size: 40px;
  letter-spacing: -1px;
  font-weight: 600;
}

.side-left .night_title h2 {
  font-family: "American Captain", sans-serif;
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px;
}

.side-left .night_title h3 {
  color: #78a2ab;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -1px;
}

.side-left .night .night_title img {
  border-width: 0px;
  padding-top: 0%;
  margin-top: 2%;
}

.side-left .blue {
  color: #78a2ab;
}

.side-left .green {
  color: #84a58b;
}

.side-left .rose {
  color: #b88085;
}

.side-left .yellow {
  color: #cfb064;
}

.side-left .red {
  color: #e68573;
}

.side-left .grey {
  color: #b4bdbb;
}

.side-left .intro_cazador p {
  font-size: 15px;
  font-weight: 400;
  padding-top: 10%;
  padding-bottom: 0%;
}

.side-left .intro_cazador a {
  font-size: 15px;
  font-weight: 400;
  padding-top: 10%;
  text-decoration: underline;
}

.side-left .night h3 {
  color: #b88085;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -1px;
  margin-top: 0%;
}

.side-left .night p {
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  padding-top: 2%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.side-left .night li {
  font-size: 13px;
  font-weight: 200;
  color: #000000;
  text-align: left;
}

.side-left .night a {
  font-size: 15px;
  font-weight: 300;
  color: #000;
  padding-top: 10%;
  text-decoration: underline;
}

.side-left .night.fa-exclamation-circle {
  color: #e68573;
}

.side-left .night.fa-check {
  color: #84a58b;
}

.side-left .night img {
  border-style: solid;
  border-width: 4px;
  padding-top: 0%;
  margin-top: 2%;
}

.side-left .night img.green {
  border-color: #84a58b;
}

.side-left .night img.red {
  border-color: #e68573;
}

.side-left .night img.rose {
  border-color: #ca8a92;
}

.side-left .night img.yellow {
  border-color: #cfb064;
}

.side-left .night img.blue {
  border-color: #78a2ab;
}

.side-left .night p.image_caption {
  padding: 2%;
  line-height: 14px;
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 2%;
  text-align: left;
  letter-spacing: 1px;
}

.side-left .night .image_caption a {
  line-height: 14px;
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 2%;
}

.side-left .night p.image_caption.green {
  background: #84a58b;
}

.side-left .night p.image_caption.yellow {
  background: #cfb064;
}

.side-left .night p.image_caption.red {
  background: #e68573;
}

.side-left .night p.image_caption.rose {
  background: #ca8a92;
}

.side-left .night p.image_caption.blue {
  background: #78a2ab;
}

.side-left .quote {
  background-image: url("../img/texture.png");
  padding-top: 2%;
  margin-top: 2%;
}

.side-left .quote p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-align: right;
  letter-spacing: 1px;
  padding-bottom: 3%
}

.side-left .quote.green {
  background-color: #84a58b;
}

.side-left .quote.red {
  background-color: #e68573;
}

.side-left .quote.yellow {
  background-color: #cfb064;
}

.side-left .quote.blue {
  background-color: #78a2ab;
}

.side-left .quote.beige {
  background-color: #e8d1af;
}

/****************************/

/** Ultra Left **/

/****************************/

.page-left .page-inner {}

.page-left .page-inner .small-hr {
  margin-top: 9px;
  margin-bottom: 23px;
}

.page-left .page-inner .trans-overlay-dark-about {
  background: #fff;
  /* The Fallback */
  background: #ffffff;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

p.keyword {
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -1px;
  padding-top: 5%;
}

p.keyword.green {
  color: #84a58b;
  /*green*/
}

p.keyword.rose {
  color: #b88085;
  /*rose*/
}

p.keyword.yellow {
  color: #cfb064;
  /*yellow*/
}

p.keyword.grey {
  color: #b4bdbb;
  /*grey*/
}

p.keyword.blue {
  color: #78a2ab;
  /*blue*/
}

p.keyword.beige {
  color: #e8d1af;
  /*beige*/
}

p.keyword.red {
  color: #e68573;
  /*red*/
}

p.tagline {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}

.tagline a {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-decoration: underline;
}

.detail-info {
  position: relative;
  z-index: 2;
  padding-top: 5%;
  text-align: left;
}

.page-left ul {
  padding-top: 2%;
}

.page-left a {
  color: #000000;
  font-size: 12px;
  font-weight: 300;
}

.page-left .fa {
  padding-top: 1.5%;
  font-size: 0.7em;
}

.page-left img {
  padding-top: 5%;
}

/****************************/

/** Central **/

/****************************/

.central {
  background: #ffffff;
  padding-top: 1%;
  padding-bottom: 50px;
  top: 0;
  z-index: 100;
  -webkit-backface-visibility: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
}

.central .small-hr {
  margin-top: 17px;
  margin-bottom: 25px;
}

.central p, .central .address-detail a, .address-detail .central a {
  padding-bottom: 25px;
}

.central .content-wrap {
  height: 100%;
}

.central .logo {
  padding-top: 2%;
}

.header {
  width: 100%;
  padding: 2%;
}

.step {
  min-height: 100px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.step .image {
  position: relative;
  width: 100%;
  /* for IE 6 */
}

.central .tooltip-inner {
  padding: 10%;
  font-size: 15px;
  max-width: 1000px;
  width: 400px;
}

.step h1 {
  font-family: "American Captain", sans-serif;
  font-size: 60px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 2px;
}

.step h2 {
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0px;
  font-weight: 400;
}

.step h3 {
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0px;
  font-weight: 300;
  position: absolute;
  top: 50;
  left: 500;
  width: 100%;
}

.step_i h1 {
  font-family: "American Captain", sans-serif;
  font-size: 80px;
  font-style: normal;
  line-height: 1;
  letter-spacing: 2px;
  margin-top: 30px;
  text-align: left;
}

.step_i h2 {
  color: #ffffff;
  font-size: 37px;
  letter-spacing: 0px;
  font-weight: 400;
  text-align: left;
  padding-top: 0px;
  margin-bottom: 30px;
}

.step_i h3 {
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0px;
  font-weight: 300;
  position: absolute;
  top: 50;
  left: 500;
  width: 100%;
}

.step img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.step_1 {
  background-color: #84a58b;
  /*green*/
  background-image: url("../img/textures7_1.png");
}

.step_2 {
  background-color: #cfb064;
  /*yellow*/
  background-image: url("../img/textures7_2.png");
}

.step_3 {
  background-color: #78a2ab;
  /*blue*/
  background-image: url("../img/textures7_3.png");
}

.step_4 {
  background-color: #e68573;
  /*red*/
  background-image: url("../img/textures7_4.png");
}

/****************************/

/** RIGHT **/

/****************************/

.side-right {
  overflow-x: hidden;
  overflow-y: scroll;
  color: #000;
  right: 0;
  text-align: left;
}

.side-right .notebook {
  padding: 40px;
}

.side-right .notebook p {
  font-family: 'IBM Plex Mono', monospace;
}

.side-right .trans-overlay-dark {
  background: #fff;
  /* The Fallback */
  background: rgba(255, 255, 255, 0.6);
  position: relative;
  left: 0;
  z-index: -2;
}

/* sebastián test*/

.quote-overlay {
  background-color: rgba(255, 255, 255, 0.4);
  background-image: url("../img/texture.png");
  position: absolute;
  bottom: 20%;
}

.quote-overlay p {
  font-size: 18px;
  font-weight: 200;
  color: #ffffff;
  text-align: left;
  letter-spacing: 1.5px;
  line-height: 24px;
  padding: 4%;
}

.quote-overlay img {
  width: 210px;
}

.credit-overlay {
  position: absolute;
  bottom: 10%;
  right: 5%;
}

.credit-overlay p {
  text-align: right;
  font-size: 8px;
  font-style: italic;
  font-weight: 100;
  color: #ffffff;
  text-align: right;
  letter-spacing: 1.5px;
  padding: 4%;
}

#myButton {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99;
  font-size: 28px;
  background-color: #84a58b;
}

/****************************/

/** Ultra right **/

/****************************/

.page-right .page-inner {
  padding-bottom: 100px;
}

.page-right .page-inner .trans-overlay-dark-contact {
  background: #ffffff;
  /* The Fallback */
  background: #ffffff;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.page-right .page-inner .copyright {
  display: none;
}