{{ define "title"}}{{ .Params.title }} | {{ .Site.Title}} {{end}}

{{ define "scripts"}}
    {{ partial "javascripts" }}
{{ end }}

{{ define "navbar"}}
  {{ partial "navbar" .}}
{{ end }}

{{ define "main" }}
  <div class="side2 central">
    <div class="header">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-2"><img src={{"/img/logo_es.png"  | relURL}}  class="img-responsive center-block" width="300"></div>
        <div class="col-2" >
          <p style="text-align: right;"><a href="/es">ES</a> | <a href="/en">EN</a> <!-- | <a href="/ca">CA</a>--></p>
        </div>
        <h3>{{i18n "wellcome"}}</h3>
      </div>
    </div>
    {{ .Content }}
  </div>
{{ end }}

{{ define "ultraleft"}}
    {{ partial "about" .}}
{{ end }}

{{ define "ultraright"}}
    {{ partial "disqus" .}}
{{ end }}
