{{ $right_path :=  printf "**.%s.md" .Lang }}
<div  class="page-inner full-height">
  <div class="container align-center detail-info">
    <div class="header">
      <img src={{"/img/logo_es.png"| relURL}} width="300" class="center-block">
    </div>
    <hr>
    <div class="container">
      {{ range where .Pages "Section" "about" }}
      <div class="row" id="#">
        <div class="col-sm-3">
          <h3 class="{{.Params.color}}" >{{.Title}}</h3>
        </div>
        <div class="col-sm-8">
          <h4>{{.Description}}</h4>
          <hr>
          <p>{{.Content}}</p>
          {{ $extra := .Resources.GetMatch "extra.md"}}
          {{ if $extra }}
            {{ $extra.Content }}
          {{ end }}
        </div>
      </div>
      <br>
      {{ end }}
    </div>
  </div>
</div>
