<!--Setp_1-->
<section class="step step_1">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <h1>Paso 1:</h1>
      <h2>¿Qué necesitas para ser un auténtico cazador de rayos gamma?</h2>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3" style="padding-top:2%"><a href="info" data-toggle="tooltip" data-placement="right" title="Entra y descubre quiénes son los Cazadores de rayos Gamma, a qué se dedican y cómo puedes convertirte en un uno - seguramente lo mejor que te va a pasar en tiempo"><img  src={{"/img/isotip_bomb.png"|relURL}} class="img-responsive hexagon_button" width="200">  </a> </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>
</section>
<!--/Setp_1-->
<!--Setp_2-->
<section class="step step_2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <h1>Paso 2:</h1>
        <h2>Acompaña a los 4 cazadores en sus noches de investigación</h2>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3"><a href="night/1/1" data-toggle="tooltip" data-placement="top" title="Acompaña a Daniel en su noche de investigación. Él te enseñará los trucos de los telescopios MAGIC"><img src={{"/img/avatarhex_daniel.png"|relURL}}  class="img-responsive" width="200"></a></div>
          <div class="col-md-3"><a href="night/2/1" data-toggle="tooltip" data-placement="top" title="Alba estudia el microquasar Cygnus-X1. Descubre con ella qué pasa cuando el microquasar se despierta"><img src={{"/img/avatarhex_alba.png"|relURL}}   class="img-responsive" width="200"></a></div>
          <div class="col-md-3"><a href="night/3/1" data-toggle="tooltip" data-placement="top" title="Quim va en busca de la materia oscura. ¿Pueden ser los rayos Gamma  la clave para encontrarla?"><img src={{"/img/avatarhex_quim.png"|relURL}} data-alt-src="static/img/isotip_none.png" class="img-responsive" width="200"></a></div>
          <div class="col-md-3"><a href="night/4/1" data-toggle="tooltip" data-placement="top" title="Leyre caza rayos Gamma para poner a prueba la teoría de la Relatividad. ¿La luz siempre viaja a la velocidad de la luz?"><img src={{"/img/avatarhex_leyre.png"|relURL}}  class="img-responsive" width="200"></a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Setp_2-->

<!--Setp_3-->
<section class="step step_3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <h1>Paso 3:</h1>
        <h2>¿Te atreves a resolver el misterio? Esta es tu noche de investigación</h2>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-3" style="padding-top:2%"><a href="night/you" data-toggle="tooltip" data-placement="right" title="Esta es tu noche. Tu oportundiad. Con lo que te han enseñado Daniel, Alba, Quim y Leyre tienes de sobra para resolver el misterio. Si no, pregúntanos. Los cazadores siempre nos ayudamos" ><img src={{"/img/isotip_ray.png"|relURL}} class="img-responsive hexagon_button" width="200"></a></div>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
      </div>
      </div>
    </div>
  </div>
</section>
<!--/Setp_3-->
<!--Setp_4-->
<section class="step step_4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <h1>Paso 4:</h1>
        <h2>Cuéntanos qué resultados has conseguido y participa en el sorteo.</h2>
      </div>
      <div class="col-md-8">
        <h2 style="padding-top:5%">El primer concurso de Cazadores se ha cerrado <br><br>
        Y el ganador es...  <strong>JORDI BLANCO</strong> (Barcelona) <br><br>
        Te avisaremos cuando abramos una nueva edición con más misterios a resolver</h2>
      </div>

      </div>
    </div>
  </div>
</section>
<!--/Setp_4-->
