{{$list := .Site.GetPage "section" "glossary"}}
<!--Glossary Section-->
<div class="page page-left">
  <div  class="page-inner full-height">
    <div class="container align-center detail-info">
      <div class="row">
        <div class="col-md-3 text-center">
          <img src="/img/isotip_blue.png"  class="image-responsive">
        </div>
        <div class="col-md-6">
          <p class="keyword">Diccionario de un buen cazador</p>
        </div>
      </div>

      <hr>

      {{ range $list.Data.Pages }}
        {{$img := .Resources.GetMatch "**.png" }}
        <p>{{$img.RelPermalink}} </p>
      <div class="row" id="#">
        <div class="col-md-3">
          <p class="keyword {{.Params.color}}" >{{.Title}}</p>
        </div>
        <div class="col-md-6">
          <p class="tagline">{{.Description}}</p>
          <span class="small-hr"></span>
          <p class="align-center description">{{.Content}}</p>
          <br>

          <p>Descubre más: </p>
          <ul class="fa-ul">

            <li><i class="fa-li fa fa-external-link"></i><a href="https://en.wikipedia.org/wiki/Black_hole" target="_blank">@ Wikipedia</a></li>
            <li><i class="fa-li fa fa-external-link"></i><a href="http://www.nasa.gov/audience/forstudents/k-4/stories/nasa-knows/what-is-a-black-hole-k4.html" target="_blank">@ NASA</a></li>
            <li><i class="fa-li fa fa-external-link"></i><a href="http://hubblesite.org/explore_astronomy/black_holes/home.html" target="_blank">@ Hubble Site</a></li>
            <li><i class="fa-li fa fa-external-link"></i><a href="http://www.universetoday.com/46687/black-hole-facts/" target="_blank">@ Universe Today</a></li>
          </ul>
          <br>
        </div>
        <div class="col-md-3"><a target="blank"><img src="{{ $img.RelPermalink }}" class="image-responsive"></div></a>
      </div>

{{ end }}



    </div>
  </div>
</div>
