{{$list := .Site.GetPage "section" "glossary"}}



<!--Glossary Section-->
<div class="page page-left">
    <div class="container-fluid detail-info">
      <div class="row">
        <div class="col-sm-1 col-sm-offset-1">
          <img src={{"/img/isotip_blue.png"| relURL}} width="100" class="center-block">
        </div>
        <div class="col-sm-8 col-md-offset-1">
          <h2>Diccionario de un buen cazador</h2>
        </div>
      </div>
      <hr>
      <div class="container">
      {{ range $list.Data.Pages }}
        {{$original := .Resources.GetMatch "**.png" }}


        <div class="row" id="#">
          <div class="col-sm-3">
            <h3 class="{{.Params.color}}" >{{.Title}}</h3>
          </div>
          <div class="col-sm-6">
            <h4>{{.Description}}</h4>
            <p>{{.Content}}</p>
            <p><strong>Descubre más: </strong></p>
            <ul class="fa-ul">
            {{ range $k, $v := .Params.links}}
              <li><i class="fa-li fa fa-external-link"></i><a href="{{index $v 1}}" target="_blank">@ {{index $v 0}}</a></li>
            {{end}}
            </ul>
            <br>
          </div>
          {{ if $original}}
            {{$image := $original.Resize "200x" }}
          <div class="col-sm-3"><a target="blank"><img src="{{ $image.RelPermalink }}" class="image-responsive"></div></a>
          {{ end }}
        </div>
      {{ end }}
      </div>
    </div>
</div>
