{{$list := .Site.GetPage "section" "glossary"}}

<!--Glossary Section-->
<div class="page page-left">
  <div  class="page-inner full-height">
    <div class="container align-center detail-info">
      <div class="row">
        <div class="col-md-2 text-center">
          <img src={{"/img/isotip_blue.png"| relURL}} class="img-responsive">
        </div>
        <div class="col-md-8">
          <p class="keyword">Diccionario de un buen cazador</p>
        </div>
      </div>
      <hr>
      {{ range $list.Data.Pages }}
        {{$img := .Resources.GetMatch "**.png" }}
        <div class="row" id="#">
          <div class="col-md-3">
            <p class="keyword {{.Params.color}}" >{{.Title}}</p>
          </div>
          <div class="col-md-6">
            <p class="tagline">{{.Description}}</p>
            <p class="align-center description">{{.Content}}</p>
            <br>
            <p>Descubre más: </p>
            <ul class="fa-ul">
            {{ range $k, $v := .Params.links}}
              <li><i class="fa-li fa fa-external-link"></i><a href="{{index $v 1}}" target="_blank">@ {{index $v 0}}</a></li>
            {{end}}
            </ul>
            <br>
          </div>
          {{ if $img}}
          <div class="col-md-3"><a target="blank"><img src="{{ $img.RelPermalink }}" class="image-responsive"></div></a>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
</div>
