<!-- Scripts -->
<script src='{{ "js/jquery-1.11.3.min.js" | absURL }}'></script>
<script src='{{ "js/bootstrap.min.js" | absURL }}'></script>
<script src='{{ "js/jquery.placeholder.js" | absURL }}'></script>
<script src='{{ "js/modernizr.custom.js" | absURL }}'></script>
<script src='{{ "js/classie.js" | absURL }}'></script>
<script src='{{ "js/cbpSplitLayout.js" | absURL }}'></script>
<script src='{{ "js/init.js" | absURL }}'></script>
<script src='{{ "js/jquery.touchSwipe.min.js" | absURL }}'></script>
<!-- <script src='{{ "js/bootstrap-slider.min.js" | absURL }}'></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> -->
