<!--Night Nav Bar Bottom-->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li>
        <div id="glossary1" class="call-to-action glossary1">
          <i class="fa fa-lightbulb-o fa-2x " aria-hidden="true"></i>
          <i class="fa fa-times fa-2x opacity-hide"></i>
          <span class="top"></span>
          <span class="right"></span>
          <span class="bottom"></span>
          <span class="left"></span>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-center">
      {{ range .Site.Menus.main }}
      <a href="{{ .URL }}"><div id="GoHome" class="call-to-action GoHome"><p data-hover="{{ .Name }}"></p></div></a>
      {{end}}
      <div class="call-to-action ifae_nav">
        <a href="http://www.ifae.es/" target="_blank"
           ><img src={{"/img/ifae_nav.png" | relURL}} height="30"></a>
      </div>
      <div class="call-to-action fecyt_nav">
        <a href="http://www.fecyt.es/" target="_blank"
           ><img src={{"/img/FECYT.png" | relURL}} class="image-responsive" height="30"></a>
      </div>
    </ul>

    {{ if eq .Params.type "night" }}
    <ul class="nav navbar-nav">
      {{ with .NextInSection }}
      <li>
        <div id="PrevPage" class="call-to-action PrevPage">
          <a href="{{ .Permalink }}"><i class="fa fa-arrow-left fa-2x"></i></a>
          <span class="top"></span>
          <span class="right"></span>
          <span class="bottom"></span>
          <span class="left"></span>
        </div>
      </li>
      {{ end }}
        <span class="location"> {{ printf "%s: %s" (i18n "night") (substr .Dir -4 1) }} &nbsp {{printf "%s: %s / %s" (i18n "page") (substr .Dir -2 1) (string $.Page.Parent.Params.pages) }}</span>

      {{ with .PrevInSection }}
      <li>
        <div id="NextPage" class="call-to-action NextPage">
          <a href="{{ .Permalink }}"><i class="fa fa-arrow-right fa-2x"></i></a>
          <span class="top"></span>
          <span class="right"></span>
          <span class="bottom"></span>
          <span class="left"></span>
        </div>
      </li>
      {{ end }}
    </ul>
    {{ end }}


    <ul class="nav navbar-nav navbar-right">
      <li>
        <div id="contact" class=" call-to-action contact">
          <i class="fa fa-comment fa-2x"></i>
          <i class="fa fa-times fa-2x opacity-hide"></i>
          <span class="top" ></span>
          <span class="right" ></span>
          <span class="bottom" ></span>
          <span class="left" ></span>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/Night Nav Bar Bottom-->
