<!-- Image-->
{{ $color := (index ($.Page.Parent.Params.colors) 0) }}
{{ $name := .Get "name"}}
<section class = "noSwipe">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <img src="{{$name}}" class="img-responsive {{$color}}">
        <div class="image_caption">
          {{ with .Get "caption"}}<p class="{{$color}}">{{.}} {{end}} {{ with .Get "credit"}}<em>{{ i18n "image_credit"}}: {{.}}</em></p>{{end}}      
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Image-->
