<!-- Image-->
{{ $color := (index ($.Page.Parent.Params.colors) 0) }}
{{ $original := .Page.Resources.GetMatch (printf "%s*" (.Get "name")) }}
{{ $image := $original.Resize "500x" }}
<section class = "noSwipe">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <img src="{{ $image.RelPermalink }}" class="img-responsive {{$color}}">
        <div class="image_caption">
          <p class="{{$color}}">{{ with .Get "caption"}}{{.}} {{end}} {{ with .Get "credit"}}<em>{{ i18n "image_credit"}}: {{.}}</em>{{end}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Image-->
