<!--Intro Cazador-->
{{ $.Scratch.Set "image_path" "" }}

{{ if isset .Params "image" }}
  {{ $.Scratch.Set "image_path" (printf "/img/%s.png" (.Get "image")) }}
{{else}}
  {{ $hunter := $.Page.Parent.Params.hunter}}
  {{ $.Scratch.Set "image_path" (printf "/img/avatar_%s.png" $hunter) }}
{{end}}

{{$image_path := $.Scratch.Get "image_path"}}

<section class ="intro_hunter noSwipe">
  <div class = "container-fluid">
    <div class="row">
    <div class="col-xs-8 text-left">
        {{ with .Get "text"}}<p>{{.}}</p>{{end}}
      </div>
      <div class="col-xs-4 text-center">
        <img src="{{$image_path | relURL}}"  class="img-responsive">
      </div>
    </div>
  </div>
</section>
<!--/Intro Cazador-->
