<!--Intro Cazador-->
{{ $hunter := $.Page.Parent.Params.hunter}}
{{ $image_path :=  printf "/img/avatar_%s.png" $hunter }}
<section class ="intro_cazador noSwipe">
  <div class = "container-fluid">
    <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7 text-left">
        {{ with .Get "text"}}<p>{{.}}</p>{{end}}
      </div>
      <div class="col-md-3 text-center">
        <img src="{{$image_path | relURL}}"  width="200">
      </div>
      <div class="col-md-1 text-right"></div>
    </div>
  </div>
</section>
<!--/Intro Cazador-->
