<!-- Quote-->
{{ $color := (index ($.Page.Parent.Params.colors) 1) }}

{{ $.Scratch.Set "hunter" "" }}
{{ if isset .Params "hunter" }}
  {{ $.Scratch.Set "hunter" (.Get "hunter") }}
{{else}}
  {{ $.Scratch.Set "hunter" $.Page.Parent.Params.hunter}}
{{end}}

{{ $image_path := (printf "/img/avatarhex_%s.png" ($.Scratch.Get "hunter")) }}

<section class = "quote noSwipe">
  <div class = "container-fluid {{ $color }}">
    <div class="row">
      {{ with .Get "text"}}<div class="col-xs-9 text-right "><p>{{.}}</p></div>{{end}}
      <div class="col-xs-3"> <img src="{{$image_path | relURL}}"  class="img-responsive"> </div>
    </div>
  </div>
</section>
<!-- /Quote-->
