<!-- Quote-->
{{ $color := (index ($.Page.Parent.Params.colors) 1) }}
{{ $hunter := $.Page.Parent.Params.hunter}}
{{ $image_path :=  printf "/img/avatarhex_%s.png" $hunter }}
<section class = "quote noSwipe">
  <div class = "container-fluid {{ $color }}">
    <div class="row">
      {{ with .Get "text"}}<div class="col-xs-9 text-right "><p>{{.}}</p></div>{{end}}
      <div class="col-xs-3"> <img src="{{$image_path | relURL}}"  class="img-responsive"> </div>
    </div>
  </div>
</section>
<!-- /Quote-->
