<!--Title Night-->
{{ $color := (index ($.Page.Parent.Params.colors) 0) }}
{{ $image_path :=  printf "/img/isotip_%s.png" $color }}
<section class ="night_title">
  <div class = "container-fluid">
    <div class="row">
    <div class="col-lg-2 text-center logo">
         <a href="{{ .Site.BaseURL }}"><img src="{{$image_path | relURL}}" class="img-responsive" width="150"></a>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-8 text-left">
        {{ with .Get "title"}}<h1 >{{.}}</h1>{{end}}
        {{ with .Get "subtitle"}}<h3 class="{{ $color }}">{{.}}</h3>{{end}}
      </div>
    </div>
  </div>
</section>
<!--/Title Night-->
